*.png
*.zip
*.pkl
*.npy
*.linkinfo
*.o
*.orig
*.pyc
*.pyo
*.so
*.sw?
*~
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
.noseids
\#*\#
build
compiled/*.cpp
core.*
cutils_ext.cpp
dist
doc/.build/
html
pdf
